<footer class="fancy-footer">
    <div class="container">
      <div class="row">
        <!-- George Mason University Info -->
        <div class="col-md-4">
          <h3>George Mason University</h3>
          <p>Fairfax Virginia</p>
          <div class="input-group">
            <p class="input-group-prepend"><i class="fa fa-phone"></i></p>&nbsp;
            <p class="mr-1">+1 (123) 456-7890</p>
          </div>
          <div class="input-group mt-1">
            <p class="input-group-prepend"><i class="fa fa-envelope-o fa-fw"></i></p>&nbsp;
            <p class="mr-1">onlinebookstore&#64;gmu.edu</p>
          </div>
        </div>
        <!-- About Section -->
        <div class="col-md-6 offset-md-2">
          <h3>About</h3>
          <p>The Online Book store is a website developed to demonstrate accepted HCI practices under Prof. Thomas LaToza.</p>
        </div>
      </div>
    </div>
  </footer>
  