.container {
    text-align: center;

}

input {
    width: 50%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin: auto;
    display: block;
}

.pad {
    padding-bottom: 4%;
}


.heading {
    text-align: center;
    padding-bottom: 2%;
}

input.ng-invalid.ng-touched {
    border: red 2px solid;
}

.pad-top{
    padding-top: 5%;
}

span {
    color: red;
    font-size: small;
}