.pad {
  padding-bottom: 420px; /* Adjust this value as needed */
}

.content-pad {
    padding-bottom: 240px;
}

.padding-header {
  padding-top: 3%;
}

.clickable-card {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}