<div class="container mt-5">
    <h1 class="heading">Book Listing</h1>
    <div *ngIf="showMessage" class="alert alert-success">
        {{ message }}
    </div>
    <div *ngIf="filteredBooks.length > 0; else noResultsFound">
        <div class="row mt-3">
            <ng-container *ngFor="let book of filteredBooks">
                <!-- <ng-container *ngFor="let c of books"> -->
                <div class="col-md-2 mb-3">
                    <div class="card clickable-card" style="width: 16rem;">
                        <img src="assets/book1.jpg" (click)="viewProductDetails(book.id)" class="card-img-top"
                            alt="Book 1">
                        <div class="card-body">
                            <p class="card-title"><b>{{book.title}}</b></p>
                            <p class="card-text" style="color: gray;">Author: {{book.author}}</p>
                            <p class="card-text">Price: ${{book.price}}</p>
                            <a class="btn btn-sm a-button-add rounded-corners" (click)="addToCart(book)"
                                *ngIf="book.inCart < 1">Add to Cart</a>
                            <span *ngIf="book.inCart>0">
                                <button class="btn btn-sm btn-danger a-button-remove rounded-corners"
                                    (click)="removeFromCart(book); $event.stopPropagation();">
                                    <strong style="font-size: 13px;">-</strong>
                                </button>
                                <h1 class="badge bg-light text-dark">{{ book.inCart }}</h1>
                                <button class="btn btn-sm btn-success a-button-add-quantity rounded-corners"
                                    (click)="increaseQuantity(book); $event.stopPropagation();">
                                    <strong style="font-size: 13px;">+</strong>
                                </button>
                            </span>
                            &nbsp;
                            <a class="btn btn-sm a-button-details rounded-corners"
                                (click)="viewProductDetails(book.id)">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #noResultsFound>
    <div class="container mt-5 text-center">
        <p class="alert alert-info">Cannot find the book? <br> Request your book <a routerLink="/req-book" >here</a>
    </div>
</ng-template>