/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f0f0; /* Light grey color */
}
.btn {
  background: #232f3e;
}
.btn:hover {
  background: #334458;
}

.a-button-details {
  background-color: #FFA41C;
  border: #FA8900;
  color: #000;
}

.a-button-details:hover {
  background-color:  #ff9a01;
}


.a-button-add {
  background-color: #F7CA00;
  border: #F7CA00;
  color: black;
}

.a-button-add:hover {
  background-color:#febd69;
}

.a-button-add-quantity {
  background-color: rgb(192, 192, 192);
  color: black;
  border: rgb(192, 192, 192) solid;
}

.a-button-add-quantity:hover {
  color: black;
  border: #232f3e solid;
  background-color: #ffffff;
}

.a-button-remove {
background-color: rgb(192, 192, 192);
color: black;
border: rgb(192, 192, 192) solid;
}

.a-button-remove:hover {
color: black;
border: #232f3e solid;
background-color: #ffffff;
}